.header{
    background-color:#ffcdb2 ;
}
.div-head{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    margin-left: 70px;
    
}
.div-item{
    align-self: center;
    margin-right: 100px;
}

#Register{
    height: 30px;
    font-size: 15px;
    background-color: black;
    color:white;
}
#email{
    height: 30px;
    width:250px;
}
.slog{
    color:white;
    margin-top: 10px;
}
.bottom{
    display:flex;
    background-color:#000814;
    height:20em;
    width:99vw;
    color:white;
    justify-content: space-evenly;

    align-items: center;
}
li{
    list-style-type: none;
}

.about_2{
    text-align: end;
}
